USE [wbis_core]
GO
/****** Object:  User [wbis_api]    Script Date: 9/21/2025 12:06:06 PM ******/
CREATE USER [wbis_api] FOR LOGIN [wbis_api] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Building]    Script Date: 9/21/2025 12:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Building](
	[building_id] [int] IDENTITY(1,1) NOT NULL,
	[mortgagee_id] [int] NULL,
	[Address Normalized] [nvarchar](200) NOT NULL,
	[Bld#] [int] NOT NULL,
	[Owner Occupied] [bit] NOT NULL,
	[Street Address] [nvarchar](200) NULL,
	[City] [nvarchar](100) NULL,
	[State] [char](2) NULL,
	[Zip] [varchar](10) NULL,
	[County] [nvarchar](100) NULL,
	[Units] [smallint] NULL,
	[construction_code] [tinyint] NOT NULL,
	[Year Built] [smallint] NULL,
	[Stories] [smallint] NULL,
	[Square Feet] [int] NULL,
	[Desired Building Coverage] [decimal](19, 0) NULL,
	[Fire Alarm] [bit] NOT NULL,
	[Sprinkler System] [bit] NOT NULL,
	[roof_year_updated] [smallint] NULL,
	[plumbing_year_updated] [smallint] NULL,
	[electrical_year_updated] [smallint] NULL,
	[hvac_year_updated] [smallint] NULL,
	[entity_id] [int] NULL,
 CONSTRAINT [PK_Building] PRIMARY KEY CLUSTERED 
(
	[building_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Building_Address_BldNo] UNIQUE NONCLUSTERED 
(
	[Address Normalized] ASC,
	[Bld#] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Building_Contact]    Script Date: 9/21/2025 12:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Building_Contact](
	[building_contact_id] [int] IDENTITY(1,1) NOT NULL,
	[building_id] [int] NOT NULL,
	[client_contact_id] [int] NOT NULL,
	[role] [nvarchar](50) NULL,
	[is_primary] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[building_contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Building_use]    Script Date: 9/21/2025 12:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Building_use](
	[building_use_id] [int] IDENTITY(1,1) NOT NULL,
	[building_id] [int] NOT NULL,
	[use_code] [tinyint] NOT NULL,
 CONSTRAINT [PK_Building_use] PRIMARY KEY CLUSTERED 
(
	[building_use_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Building_use_Building_Code] UNIQUE NONCLUSTERED 
(
	[building_id] ASC,
	[use_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientContact]    Script Date: 9/21/2025 12:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientContact](
	[ClientContact_Id] [int] IDENTITY(1,1) NOT NULL,
	[First Name] [nvarchar](255) NOT NULL,
	[Last Name] [nvarchar](255) NOT NULL,
	[Mailing Address] [nvarchar](255) NULL,
	[Physical Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](25) NULL,
	[Email] [nvarchar](254) NULL,
	[is_primary] [bit] NOT NULL,
	[parent_contact_id] [int] NULL,
 CONSTRAINT [PK_ClientContact] PRIMARY KEY CLUSTERED 
(
	[ClientContact_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entity]    Script Date: 9/21/2025 12:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entity](
	[Entity_Id] [int] IDENTITY(1,1) NOT NULL,
	[legal_name] [nvarchar](200) NOT NULL,
	[State Registration] [char](2) NULL,
	[Entity Start Date] [date] NULL,
	[FEIN] [nvarchar](15) NULL,
	[sos_url] [nvarchar](500) NULL,
 CONSTRAINT [PK_Entity] PRIMARY KEY CLUSTERED 
(
	[Entity_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entity_Contact]    Script Date: 9/21/2025 12:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entity_Contact](
	[entity_contact_id] [int] IDENTITY(1,1) NOT NULL,
	[entity_id] [int] NOT NULL,
	[client_contact_id] [int] NOT NULL,
	[role] [nvarchar](50) NULL,
	[is_primary] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[entity_contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mortgagee]    Script Date: 9/21/2025 12:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mortgagee](
	[mortgagee_id] [int] IDENTITY(1,1) NOT NULL,
	[Mortgagee Name] [nvarchar](255) NULL,
	[Mortgagee Address] [nvarchar](500) NULL,
 CONSTRAINT [PK_Mortgagee] PRIMARY KEY CLUSTERED 
(
	[mortgagee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mortgagee_Contact]    Script Date: 9/21/2025 12:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mortgagee_Contact](
	[mortgagee_contact_id] [int] IDENTITY(1,1) NOT NULL,
	[mortgagee_id] [int] NOT NULL,
	[client_contact_id] [int] NOT NULL,
	[is_primary] [bit] NOT NULL,
 CONSTRAINT [PK_Mortgagee_Contact] PRIMARY KEY CLUSTERED 
(
	[mortgagee_contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Mortgagee_Contact] UNIQUE NONCLUSTERED 
(
	[mortgagee_id] ASC,
	[client_contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policy]    Script Date: 9/21/2025 12:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policy](
	[policy_id] [int] IDENTITY(1,1) NOT NULL,
	[EntityName_Id] [int] NOT NULL,
	[Status] [nvarchar](32) NOT NULL,
	[Carrier] [nvarchar](100) NOT NULL,
	[Writing Company] [nvarchar](100) NULL,
	[Line] [nvarchar](50) NULL,
	[Policy#] [varchar](64) NOT NULL,
	[Effective Date] [date] NOT NULL,
	[Expiration Date] [date] NOT NULL,
	[Premium] [decimal](19, 2) NULL,
 CONSTRAINT [PK_Policy] PRIMARY KEY CLUSTERED 
(
	[policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Policy_carrier_number_eff_exp] UNIQUE NONCLUSTERED 
(
	[Carrier] ASC,
	[Policy#] ASC,
	[Effective Date] ASC,
	[Expiration Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policy_Building]    Script Date: 9/21/2025 12:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policy_Building](
	[policy_building_id] [int] IDENTITY(1,1) NOT NULL,
	[building_id] [int] NOT NULL,
	[policy_id] [int] NOT NULL,
	[building_coverage_limit] [decimal](19, 0) NOT NULL,
	[deductible] [decimal](19, 0) NULL,
	[valuation_basis] [nvarchar](16) NULL,
 CONSTRAINT [PK_Policy_Building] PRIMARY KEY CLUSTERED 
(
	[policy_building_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Policy_Building_policy_building] UNIQUE NONCLUSTERED 
(
	[policy_id] ASC,
	[building_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policy_Contact]    Script Date: 9/21/2025 12:06:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policy_Contact](
	[policy_contact_id] [int] IDENTITY(1,1) NOT NULL,
	[policy_id] [int] NOT NULL,
	[client_contact_id] [int] NOT NULL,
	[role] [nvarchar](50) NULL,
	[is_primary] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[policy_contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Building] ADD  CONSTRAINT [DF_Building_BldNo]  DEFAULT ((1)) FOR [Bld#]
GO
ALTER TABLE [dbo].[Building] ADD  CONSTRAINT [DF_Building_OwnerOccupied]  DEFAULT ((0)) FOR [Owner Occupied]
GO
ALTER TABLE [dbo].[Building] ADD  CONSTRAINT [DF_Building_FireAlarm]  DEFAULT ((0)) FOR [Fire Alarm]
GO
ALTER TABLE [dbo].[Building] ADD  CONSTRAINT [DF_Building_SprinklerSys]  DEFAULT ((0)) FOR [Sprinkler System]
GO
ALTER TABLE [dbo].[Building_Contact] ADD  CONSTRAINT [DF_BuildingContact_is_primary]  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[Building_Contact] ADD  CONSTRAINT [DF_BuildingContact_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[ClientContact] ADD  CONSTRAINT [DF_ClientContact_is_primary]  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[Entity_Contact] ADD  CONSTRAINT [DF_EntityContact_is_primary]  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[Entity_Contact] ADD  CONSTRAINT [DF_EntityContact_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Entity_Contact] ADD  CONSTRAINT [DF_EntityContact_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Mortgagee_Contact] ADD  CONSTRAINT [DF_Mortgagee_Contact_is_primary]  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[Policy_Building] ADD  CONSTRAINT [DF_Policy_Building_building_coverage_limit]  DEFAULT ((0)) FOR [building_coverage_limit]
GO
ALTER TABLE [dbo].[Policy_Contact] ADD  CONSTRAINT [DF_Policy_Contact_is_primary]  DEFAULT ((1)) FOR [is_primary]
GO
ALTER TABLE [dbo].[Policy_Contact] ADD  CONSTRAINT [DF_Policy_Contact_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Building]  WITH NOCHECK ADD  CONSTRAINT [FK_Building_Entity] FOREIGN KEY([entity_id])
REFERENCES [dbo].[Entity] ([Entity_Id])
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [FK_Building_Entity]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [FK_Building_Mortgagee] FOREIGN KEY([mortgagee_id])
REFERENCES [dbo].[Mortgagee] ([mortgagee_id])
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [FK_Building_Mortgagee]
GO
ALTER TABLE [dbo].[Building_Contact]  WITH CHECK ADD  CONSTRAINT [FK_BuildingContact_Building] FOREIGN KEY([building_id])
REFERENCES [dbo].[Building] ([building_id])
GO
ALTER TABLE [dbo].[Building_Contact] CHECK CONSTRAINT [FK_BuildingContact_Building]
GO
ALTER TABLE [dbo].[Building_Contact]  WITH CHECK ADD  CONSTRAINT [FK_BuildingContact_ClientContact] FOREIGN KEY([client_contact_id])
REFERENCES [dbo].[ClientContact] ([ClientContact_Id])
GO
ALTER TABLE [dbo].[Building_Contact] CHECK CONSTRAINT [FK_BuildingContact_ClientContact]
GO
ALTER TABLE [dbo].[Building_use]  WITH CHECK ADD  CONSTRAINT [FK_Building_use_Building] FOREIGN KEY([building_id])
REFERENCES [dbo].[Building] ([building_id])
GO
ALTER TABLE [dbo].[Building_use] CHECK CONSTRAINT [FK_Building_use_Building]
GO
ALTER TABLE [dbo].[ClientContact]  WITH CHECK ADD  CONSTRAINT [FK_ClientContact_Parent] FOREIGN KEY([parent_contact_id])
REFERENCES [dbo].[ClientContact] ([ClientContact_Id])
GO
ALTER TABLE [dbo].[ClientContact] CHECK CONSTRAINT [FK_ClientContact_Parent]
GO
ALTER TABLE [dbo].[Entity_Contact]  WITH CHECK ADD  CONSTRAINT [FK_EntityContact_ClientContact] FOREIGN KEY([client_contact_id])
REFERENCES [dbo].[ClientContact] ([ClientContact_Id])
GO
ALTER TABLE [dbo].[Entity_Contact] CHECK CONSTRAINT [FK_EntityContact_ClientContact]
GO
ALTER TABLE [dbo].[Entity_Contact]  WITH CHECK ADD  CONSTRAINT [FK_EntityContact_Entity] FOREIGN KEY([entity_id])
REFERENCES [dbo].[Entity] ([Entity_Id])
GO
ALTER TABLE [dbo].[Entity_Contact] CHECK CONSTRAINT [FK_EntityContact_Entity]
GO
ALTER TABLE [dbo].[Mortgagee_Contact]  WITH CHECK ADD  CONSTRAINT [FK_Mortgagee_Contact_ClientContact] FOREIGN KEY([client_contact_id])
REFERENCES [dbo].[ClientContact] ([ClientContact_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mortgagee_Contact] CHECK CONSTRAINT [FK_Mortgagee_Contact_ClientContact]
GO
ALTER TABLE [dbo].[Mortgagee_Contact]  WITH CHECK ADD  CONSTRAINT [FK_Mortgagee_Contact_Mortgagee] FOREIGN KEY([mortgagee_id])
REFERENCES [dbo].[Mortgagee] ([mortgagee_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mortgagee_Contact] CHECK CONSTRAINT [FK_Mortgagee_Contact_Mortgagee]
GO
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [FK_Policy_Entity] FOREIGN KEY([EntityName_Id])
REFERENCES [dbo].[Entity] ([Entity_Id])
GO
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [FK_Policy_Entity]
GO
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [FK_Policy_Entity_EntityName] FOREIGN KEY([EntityName_Id])
REFERENCES [dbo].[Entity] ([Entity_Id])
GO
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [FK_Policy_Entity_EntityName]
GO
ALTER TABLE [dbo].[Policy_Building]  WITH CHECK ADD  CONSTRAINT [FK_Policy_Building_Building] FOREIGN KEY([building_id])
REFERENCES [dbo].[Building] ([building_id])
GO
ALTER TABLE [dbo].[Policy_Building] CHECK CONSTRAINT [FK_Policy_Building_Building]
GO
ALTER TABLE [dbo].[Policy_Building]  WITH CHECK ADD  CONSTRAINT [FK_Policy_Building_Policy] FOREIGN KEY([policy_id])
REFERENCES [dbo].[Policy] ([policy_id])
GO
ALTER TABLE [dbo].[Policy_Building] CHECK CONSTRAINT [FK_Policy_Building_Policy]
GO
ALTER TABLE [dbo].[Policy_Contact]  WITH CHECK ADD  CONSTRAINT [FK_Policy_Contact_ClientContact] FOREIGN KEY([client_contact_id])
REFERENCES [dbo].[ClientContact] ([ClientContact_Id])
GO
ALTER TABLE [dbo].[Policy_Contact] CHECK CONSTRAINT [FK_Policy_Contact_ClientContact]
GO
ALTER TABLE [dbo].[Policy_Contact]  WITH CHECK ADD  CONSTRAINT [FK_Policy_Contact_Policy] FOREIGN KEY([policy_id])
REFERENCES [dbo].[Policy] ([policy_id])
GO
ALTER TABLE [dbo].[Policy_Contact] CHECK CONSTRAINT [FK_Policy_Contact_Policy]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [CK_Building_BldNo_Positive] CHECK  (([Bld#]>=(1)))
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [CK_Building_BldNo_Positive]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [CK_Building_ConstCode_Allowed] CHECK  (([construction_code]=(6) OR [construction_code]=(5) OR [construction_code]=(4) OR [construction_code]=(3) OR [construction_code]=(2) OR [construction_code]=(1)))
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [CK_Building_ConstCode_Allowed]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [CK_Building_ElecYear_Range] CHECK  (([electrical_year_updated] IS NULL OR [electrical_year_updated]>=(1800) AND [electrical_year_updated]<=(datepart(year,getdate())+(1))))
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [CK_Building_ElecYear_Range]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [CK_Building_HVACYear_Range] CHECK  (([hvac_year_updated] IS NULL OR [hvac_year_updated]>=(1800) AND [hvac_year_updated]<=(datepart(year,getdate())+(1))))
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [CK_Building_HVACYear_Range]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [CK_Building_PlumbYear_Range] CHECK  (([plumbing_year_updated] IS NULL OR [plumbing_year_updated]>=(1800) AND [plumbing_year_updated]<=(datepart(year,getdate())+(1))))
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [CK_Building_PlumbYear_Range]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [CK_Building_RoofYear_Range] CHECK  (([roof_year_updated] IS NULL OR [roof_year_updated]>=(1800) AND [roof_year_updated]<=(datepart(year,getdate())+(1))))
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [CK_Building_RoofYear_Range]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [CK_Building_SqFt_NonNeg] CHECK  (([Square Feet] IS NULL OR [Square Feet]>=(0)))
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [CK_Building_SqFt_NonNeg]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [CK_Building_Units_NonNeg] CHECK  (([Units] IS NULL OR [Units]>=(0)))
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [CK_Building_Units_NonNeg]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [CK_Building_YearBuilt_Range] CHECK  (([Year Built] IS NULL OR [Year Built]>=(1800) AND [Year Built]<=(datepart(year,getdate())+(1))))
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [CK_Building_YearBuilt_Range]
GO
ALTER TABLE [dbo].[Building_use]  WITH CHECK ADD  CONSTRAINT [CK_Building_use_Code] CHECK  (([use_code]=(11) OR [use_code]=(10) OR [use_code]=(9) OR [use_code]=(8) OR [use_code]=(7) OR [use_code]=(6) OR [use_code]=(5) OR [use_code]=(4) OR [use_code]=(3) OR [use_code]=(2) OR [use_code]=(1)))
GO
ALTER TABLE [dbo].[Building_use] CHECK CONSTRAINT [CK_Building_use_Code]
GO
ALTER TABLE [dbo].[ClientContact]  WITH CHECK ADD  CONSTRAINT [CK_ClientContact_ChildNotPrimary] CHECK  (([parent_contact_id] IS NULL OR [is_primary]=(0)))
GO
ALTER TABLE [dbo].[ClientContact] CHECK CONSTRAINT [CK_ClientContact_ChildNotPrimary]
GO
ALTER TABLE [dbo].[ClientContact]  WITH CHECK ADD  CONSTRAINT [CK_ClientContact_PrimaryHasNoParent] CHECK  (([is_primary]=(0) OR [parent_contact_id] IS NULL))
GO
ALTER TABLE [dbo].[ClientContact] CHECK CONSTRAINT [CK_ClientContact_PrimaryHasNoParent]
GO
ALTER TABLE [dbo].[Entity]  WITH CHECK ADD  CONSTRAINT [CK_Entity_StateCode] CHECK  (([State Registration] IS NULL OR [State Registration] like '[A-Z][A-Z]'))
GO
ALTER TABLE [dbo].[Entity] CHECK CONSTRAINT [CK_Entity_StateCode]
GO
ALTER TABLE [dbo].[Policy_Building]  WITH CHECK ADD  CONSTRAINT [CK_Policy_Building_NonNeg] CHECK  (([building_coverage_limit]>=(0) AND ([deductible] IS NULL OR [deductible]>=(0))))
GO
ALTER TABLE [dbo].[Policy_Building] CHECK CONSTRAINT [CK_Policy_Building_NonNeg]
GO
